USE [DynamicsReporting]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_ReportParams', @level2type=N'COLUMN',@level2name=N'ParameterDbType'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_ReportParams', @level2type=N'COLUMN',@level2name=N'ParameterDirection'
GO
/****** Object:  StoredProcedure [dbo].[usp_UserReportByUserId]    Script Date: 04/09/2568 14:41:48 ******/
DROP PROCEDURE [dbo].[usp_UserReportByUserId]
GO
/****** Object:  StoredProcedure [dbo].[usp_UserGroupReportByUserId]    Script Date: 04/09/2568 14:41:48 ******/
DROP PROCEDURE [dbo].[usp_UserGroupReportByUserId]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetUserByName]    Script Date: 04/09/2568 14:41:48 ******/
DROP PROCEDURE [dbo].[usp_GetUserByName]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetUserById]    Script Date: 04/09/2568 14:41:48 ******/
DROP PROCEDURE [dbo].[usp_GetUserById]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetReportById]    Script Date: 04/09/2568 14:41:48 ******/
DROP PROCEDURE [dbo].[usp_GetReportById]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetReportByGroupId]    Script Date: 04/09/2568 14:41:48 ******/
DROP PROCEDURE [dbo].[usp_GetReportByGroupId]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetBranchByBranchCode]    Script Date: 04/09/2568 14:41:48 ******/
DROP PROCEDURE [dbo].[usp_GetBranchByBranchCode]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllUsers]    Script Date: 04/09/2568 14:41:48 ******/
DROP PROCEDURE [dbo].[usp_GetAllUsers]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllReport]    Script Date: 04/09/2568 14:41:48 ******/
DROP PROCEDURE [dbo].[usp_GetAllReport]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllGroup]    Script Date: 04/09/2568 14:41:48 ******/
DROP PROCEDURE [dbo].[usp_GetAllGroup]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllBranch]    Script Date: 04/09/2568 14:41:48 ******/
DROP PROCEDURE [dbo].[usp_GetAllBranch]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddLog]    Script Date: 04/09/2568 14:41:48 ******/
DROP PROCEDURE [dbo].[usp_AddLog]
GO
ALTER TABLE [dbo].[tbl_User] DROP CONSTRAINT [DF__tbl_User__UserSt__398D8EEE]
GO
ALTER TABLE [dbo].[tbl_User] DROP CONSTRAINT [DF__tbl_User__UserLa__38996AB5]
GO
ALTER TABLE [dbo].[tbl_User] DROP CONSTRAINT [DF__tbl_User__IsAdmi__37A5467C]
GO
ALTER TABLE [dbo].[tbl_ReportParams] DROP CONSTRAINT [DF_tbl_ReportParams_ParameterDirection]
GO
ALTER TABLE [dbo].[tbl_ReportParams] DROP CONSTRAINT [DF_tbl_ReportParams_ParameterName]
GO
ALTER TABLE [dbo].[tbl_Report] DROP CONSTRAINT [DF__tbl_Repor__Repor__3F466844]
GO
ALTER TABLE [dbo].[tbl_GroupReport] DROP CONSTRAINT [DF__tbl_Group__Group__4222D4EF]
GO
ALTER TABLE [dbo].[tbl_Group] DROP CONSTRAINT [DF__tbl_Group__Group__3C69FB99]
GO
/****** Object:  Table [dbo].[tbl_UserGroupReport]    Script Date: 04/09/2568 14:41:48 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_UserGroupReport]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_UserGroupReport]
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 04/09/2568 14:41:48 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_User]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_User]
GO
/****** Object:  Table [dbo].[tbl_ReportProc]    Script Date: 04/09/2568 14:41:48 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_ReportProc]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_ReportProc]
GO
/****** Object:  Table [dbo].[tbl_ReportParams]    Script Date: 04/09/2568 14:41:48 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_ReportParams]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_ReportParams]
GO
/****** Object:  Table [dbo].[tbl_Report]    Script Date: 04/09/2568 14:41:48 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Report]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_Report]
GO
/****** Object:  Table [dbo].[tbl_Logging]    Script Date: 04/09/2568 14:41:48 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Logging]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_Logging]
GO
/****** Object:  Table [dbo].[tbl_GroupReport]    Script Date: 04/09/2568 14:41:48 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_GroupReport]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_GroupReport]
GO
/****** Object:  Table [dbo].[tbl_Group]    Script Date: 04/09/2568 14:41:48 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Group]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_Group]
GO
/****** Object:  Table [dbo].[tbl_Group]    Script Date: 04/09/2568 14:41:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Group](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [varchar](100) NOT NULL,
	[GroupStatus] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_GroupReport]    Script Date: 04/09/2568 14:41:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_GroupReport](
	[GroupReportID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NULL,
	[ReportID] [int] NULL,
	[GroupReportStatus] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Logging]    Script Date: 04/09/2568 14:41:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Logging](
	[LoggingID] [int] IDENTITY(1,1) NOT NULL,
	[LogDate] [datetime2](7) NULL,
	[HostName] [varchar](50) NULL,
	[IPAddress] [varchar](50) NULL,
	[FunctionName] [varchar](50) NULL,
	[ErrorMessages] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_LoggingFail] PRIMARY KEY CLUSTERED 
(
	[LoggingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Report]    Script Date: 04/09/2568 14:41:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Report](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[ReportName] [varchar](100) NOT NULL,
	[ReportStatus] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ReportParams]    Script Date: 04/09/2568 14:41:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ReportParams](
	[ReportParaID] [int] IDENTITY(1,1) NOT NULL,
	[ReportProcID] [int] NULL,
	[ParameterName] [varchar](50) NULL,
	[ParameterDirection] [varchar](50) NULL,
	[ParameterDbType] [nchar](10) NULL,
 CONSTRAINT [PK_tbl_Paramaters] PRIMARY KEY CLUSTERED 
(
	[ReportParaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ReportProc]    Script Date: 04/09/2568 14:41:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ReportProc](
	[ReportProcID] [int] IDENTITY(1,1) NOT NULL,
	[ReportID] [int] NULL,
	[ServerName] [varchar](50) NULL,
	[DatabaseName] [varchar](50) NULL,
	[StoredProcedure] [varchar](300) NULL,
 CONSTRAINT [PK_tbl_ReportConfig] PRIMARY KEY CLUSTERED 
(
	[ReportProcID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 04/09/2568 14:41:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[UserLastLogin] [datetime] NULL,
	[BranchCode] [char](3) NULL,
	[UserStatus] [bit] NOT NULL,
 CONSTRAINT [PK__tbl_User__2AD6E9670EB0FB2C] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserGroupReport]    Script Date: 04/09/2568 14:41:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserGroupReport](
	[UserGroupReportID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserGroupReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Group] ON 

INSERT [dbo].[tbl_Group] ([GroupID], [GroupName], [GroupStatus]) VALUES (1, N'GroupA', 1)
INSERT [dbo].[tbl_Group] ([GroupID], [GroupName], [GroupStatus]) VALUES (2, N'GroupB', 1)
INSERT [dbo].[tbl_Group] ([GroupID], [GroupName], [GroupStatus]) VALUES (3, N'GroupC', 1)
SET IDENTITY_INSERT [dbo].[tbl_Group] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_GroupReport] ON 

INSERT [dbo].[tbl_GroupReport] ([GroupReportID], [GroupID], [ReportID], [GroupReportStatus]) VALUES (1, 1, 1, 1)
INSERT [dbo].[tbl_GroupReport] ([GroupReportID], [GroupID], [ReportID], [GroupReportStatus]) VALUES (2, 1, 2, 1)
INSERT [dbo].[tbl_GroupReport] ([GroupReportID], [GroupID], [ReportID], [GroupReportStatus]) VALUES (3, 1, 3, 1)
SET IDENTITY_INSERT [dbo].[tbl_GroupReport] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Report] ON 

INSERT [dbo].[tbl_Report] ([ReportID], [ReportName], [ReportStatus]) VALUES (1, N'Report A', 1)
INSERT [dbo].[tbl_Report] ([ReportID], [ReportName], [ReportStatus]) VALUES (2, N'Report B', 1)
INSERT [dbo].[tbl_Report] ([ReportID], [ReportName], [ReportStatus]) VALUES (3, N'Report C', 1)
SET IDENTITY_INSERT [dbo].[tbl_Report] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_ReportParams] ON 

INSERT [dbo].[tbl_ReportParams] ([ReportParaID], [ReportProcID], [ParameterName], [ParameterDirection], [ParameterDbType]) VALUES (1, 1, N'@start_date', N'Input', N'datetime  ')
INSERT [dbo].[tbl_ReportParams] ([ReportParaID], [ReportProcID], [ParameterName], [ParameterDirection], [ParameterDbType]) VALUES (2, 1, N'@end_date', N'Input', N'datetime  ')
SET IDENTITY_INSERT [dbo].[tbl_ReportParams] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_ReportProc] ON 

INSERT [dbo].[tbl_ReportProc] ([ReportProcID], [ReportID], [ServerName], [DatabaseName], [StoredProcedure]) VALUES (1, 1, N'virnonmotor', N'miscwebdb', N'exec [dbo].[BAAC_QueryScript_Monthly] ')
INSERT [dbo].[tbl_ReportProc] ([ReportProcID], [ReportID], [ServerName], [DatabaseName], [StoredProcedure]) VALUES (2, 2, N'virnonmotor', N'miscwebdb', N'exec [dbo].[BAAC_QueryScript_Monthly] ')
INSERT [dbo].[tbl_ReportProc] ([ReportProcID], [ReportID], [ServerName], [DatabaseName], [StoredProcedure]) VALUES (3, 2, N'virnonmotor', N'miscwebdb', N'exec [dbo].[BAAC_QueryScript_Monthly] ')
SET IDENTITY_INSERT [dbo].[tbl_ReportProc] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_User] ON 

INSERT [dbo].[tbl_User] ([UserID], [UserName], [IsAdmin], [UserLastLogin], [BranchCode], [UserStatus]) VALUES (1, N'glconnect', 1, CAST(N'2025-08-07T02:38:43.003' AS DateTime), N'100', 1)
INSERT [dbo].[tbl_User] ([UserID], [UserName], [IsAdmin], [UserLastLogin], [BranchCode], [UserStatus]) VALUES (2, N'Thitinan', 1, CAST(N'2025-08-07T02:38:43.003' AS DateTime), N'100', 1)
SET IDENTITY_INSERT [dbo].[tbl_User] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_UserGroupReport] ON 

INSERT [dbo].[tbl_UserGroupReport] ([UserGroupReportID], [GroupID], [UserID]) VALUES (1, 1, 1)
INSERT [dbo].[tbl_UserGroupReport] ([UserGroupReportID], [GroupID], [UserID]) VALUES (2, 1, 2)
INSERT [dbo].[tbl_UserGroupReport] ([UserGroupReportID], [GroupID], [UserID]) VALUES (3, 2, 2)
SET IDENTITY_INSERT [dbo].[tbl_UserGroupReport] OFF
GO
ALTER TABLE [dbo].[tbl_Group] ADD  DEFAULT ((1)) FOR [GroupStatus]
GO
ALTER TABLE [dbo].[tbl_GroupReport] ADD  DEFAULT ((1)) FOR [GroupReportStatus]
GO
ALTER TABLE [dbo].[tbl_Report] ADD  DEFAULT ((1)) FOR [ReportStatus]
GO
ALTER TABLE [dbo].[tbl_ReportParams] ADD  CONSTRAINT [DF_tbl_ReportParams_ParameterName]  DEFAULT (N'@') FOR [ParameterName]
GO
ALTER TABLE [dbo].[tbl_ReportParams] ADD  CONSTRAINT [DF_tbl_ReportParams_ParameterDirection]  DEFAULT ('Input') FOR [ParameterDirection]
GO
ALTER TABLE [dbo].[tbl_User] ADD  CONSTRAINT [DF__tbl_User__IsAdmi__37A5467C]  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[tbl_User] ADD  CONSTRAINT [DF__tbl_User__UserLa__38996AB5]  DEFAULT (getdate()) FOR [UserLastLogin]
GO
ALTER TABLE [dbo].[tbl_User] ADD  CONSTRAINT [DF__tbl_User__UserSt__398D8EEE]  DEFAULT ((1)) FOR [UserStatus]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddLog]    Script Date: 04/09/2568 14:41:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[usp_AddLog]
 (
 @i_HostName varchar(50) , 
 @i_IPAddress  varchar(50) ,
 @i_FunctionName  varchar(50) , 
 @i_ErrorMessages varchar(50)
 )
AS
BEGIN


INSERT INTO [dbo].[tbl_Logging]
           ( [HostName]
           ,[IPAddress]
           ,[FunctionName]
           ,[ErrorMessages])
     VALUES
           ( @i_HostName	,  
             @i_IPAddress    ,
             @i_FunctionName ,
             @i_ErrorMessages
			 )


END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllBranch]    Script Date: 04/09/2568 14:41:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetAllBranch]
 
AS
BEGIN
 
SELECT        centerdb.dbo.branch.branch_code, centerdb.dbo.branch.branch_name , centerdb.dbo.branch.default_server
				--, centerdb.dbo.branch_link.gl 
				--, centerdb.dbo.branch_link.vmi, centerdb.dbo.branch_link.cmi, centerdb.dbo.branch_link.fire 
				--, centerdb.dbo.branch_link.misc, centerdb.dbo.branch_link.marine,
				-- , centerdb.dbo.branch.branch_compare, centerdb.dbo.branch.active_row
FROM            centerdb.dbo.branch INNER JOIN
                         centerdb.dbo.branch_link ON centerdb.dbo.branch.branch_code = centerdb.dbo.branch_link.branch_code
WHERE centerdb.dbo.branch.active_row = 'Y'
Order by centerdb.dbo.branch.branch_name 

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllGroup]    Script Date: 04/09/2568 14:41:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetAllGroup]
 
AS
BEGIN
 
SELECT  [GroupID]
      ,[GroupName]
      ,[GroupStatus]
  FROM  [tbl_Group]
 
 

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllReport]    Script Date: 04/09/2568 14:41:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[usp_GetAllReport]
 
AS
BEGIN
 
SELECT [ReportID]
      ,[ReportName]
      ,[ReportStatus]
  FROM  [dbo].[tbl_Report]

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllUsers]    Script Date: 04/09/2568 14:41:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[usp_GetAllUsers]
 
AS
BEGIN
 
 SELECT [UserID]
      ,[UserName]
      ,[IsAdmin]
      ,[UserLastLogin]
      ,[UserStatus]
  FROM [dbo].[tbl_User]
 

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetBranchByBranchCode]    Script Date: 04/09/2568 14:41:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[usp_GetBranchByBranchCode]
 (
	@i_BranchCode char (3) 
 )
AS
BEGIN
 
SELECT        centerdb.dbo.branch.branch_code, centerdb.dbo.branch.branch_name , centerdb.dbo.branch.default_server
				--, centerdb.dbo.branch_link.gl 
				--, centerdb.dbo.branch_link.vmi, centerdb.dbo.branch_link.cmi, centerdb.dbo.branch_link.fire 
				--, centerdb.dbo.branch_link.misc, centerdb.dbo.branch_link.marine,
				-- , centerdb.dbo.branch.branch_compare, centerdb.dbo.branch.active_row
FROM            centerdb.dbo.branch INNER JOIN
                         centerdb.dbo.branch_link ON centerdb.dbo.branch.branch_code = centerdb.dbo.branch_link.branch_code
WHERE centerdb.dbo.branch.active_row = 'Y'
AND centerdb.dbo.branch.branch_code = @i_BranchCode

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetReportByGroupId]    Script Date: 04/09/2568 14:41:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetReportByGroupId]
	@i_GroupID INT
AS
BEGIN

		SELECT	dbo.tbl_GroupReport.GroupReportID, dbo.tbl_GroupReport.GroupID, 
			dbo.tbl_GroupReport.ReportID, dbo.tbl_GroupReport.GroupReportStatus, 
			dbo.tbl_Report.ReportName
		FROM            dbo.tbl_GroupReport INNER JOIN
								dbo.tbl_Report 
		ON dbo.tbl_GroupReport.ReportID = dbo.tbl_Report.ReportID
		WHERE [GroupID] = @i_GroupID
  

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetReportById]    Script Date: 04/09/2568 14:41:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[usp_GetReportById]
	@i_ReportID INT
AS
BEGIN
 
SELECT  [ReportID]
      ,[ReportName]
      ,[ReportStatus]
  FROM  [tbl_Report]
  WHERE ReportID = @i_ReportID

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetUserById]    Script Date: 04/09/2568 14:41:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[usp_GetUserById]
	@_UserName VARCHAR(10)
AS
BEGIN
 
 SELECT [UserID]
      ,[UserName]
      ,[IsAdmin]
      ,[UserLastLogin]
      ,[UserStatus]
  FROM [dbo].[tbl_User]
  WHERE [UserName] = @_UserName

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetUserByName]    Script Date: 04/09/2568 14:41:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetUserByName]
    @i_UserName VARCHAR(50) ,
	@i_BranchCode Char(3)
AS
BEGIN
    SELECT [UserID], [UserName], [IsAdmin], [UserLastLogin], [UserStatus] ,[BranchCode]
    FROM [dbo].[tbl_User]
    WHERE [UserName] = 'Thitinan' -- @i_UserName
	-- AND [BranchCode] = @i_BranchCode
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UserGroupReportByUserId]    Script Date: 04/09/2568 14:41:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
CREATE PROCEDURE [dbo].[usp_UserGroupReportByUserId]
	@i_UserID INT
AS
BEGIN
 
SELECT			dbo.tbl_UserGroupReport.UserGroupReportID, dbo.tbl_UserGroupReport.GroupID
				-- , dbo.tbl_UserGroupReport.UserID
				, dbo.tbl_Group.GroupName
FROM            dbo.tbl_UserGroupReport INNER JOIN
				dbo.tbl_Group 
ON dbo.tbl_UserGroupReport.GroupID = dbo.tbl_Group.GroupID
  WHERE dbo.tbl_UserGroupReport.UserID = @i_UserID

END
GO
/****** Object:  StoredProcedure [dbo].[usp_UserReportByUserId]    Script Date: 04/09/2568 14:41:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UserReportByUserId]
	@i_UserID INT ,
	@i_GroupID INT 
AS
BEGIN
 
SELECT        tbl_UserGroupReport.UserGroupReportID, 
tbl_GroupReport.GroupReportID, tbl_Report.ReportID,tbl_UserGroupReport.UserID ,
				tbl_Report.ReportName  
FROM            tbl_GroupReport INNER JOIN
                         tbl_Report ON tbl_GroupReport.ReportID = tbl_Report.ReportID INNER JOIN
                         tbl_UserGroupReport ON tbl_GroupReport.GroupID = tbl_UserGroupReport.GroupID
WHERE 
tbl_UserGroupReport.UserID = @i_UserID AND 
tbl_UserGroupReport.GroupID = @i_GroupID

END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'''Input''  /  ''Output''' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_ReportParams', @level2type=N'COLUMN',@level2name=N'ParameterDirection'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'''DateTime'' /  ''Int32'' /  ''String''' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_ReportParams', @level2type=N'COLUMN',@level2name=N'ParameterDbType'
GO
